.div {
    width: 40px;
    height: 40px;
    background-color:rgb(255, 255, 255);
    margin: 20px;
    border: solid 2px black;
}

.blu{
    background-color: aliceblue;

}


.rosso{
    background-color: rgb(156, 43, 43);

}

.verde {
    background-color: lightgreen;
}


#testo{
    
    height: 20px;
    width: 200px;
   
}